{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<h1>Your shopping cart</h1>
<div>
    <table class="table table-striped table-hover table-bordered table-sm border-primary" style="background-color: whitesmoke;">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="width:100px"></a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url 'cart:cart_add'  product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="Update">
                        {% csrf_token %}
                    </form>
                </td>
                <td>
                    <a href="{% url 'cart:cart_remove' product.id%}"><button class="btn btn-warning" type="button">Remove</button></a>
                </td>
                <td class="num">Ksh{{ item.price }}</td>
                <td class="num">Ksh{{ item.total_price }}</td>
            </tr>
                {% endwith %}
                {% endfor %}
            <tr class="table-info">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">Ksh{{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="{% url 'shop:product_list' %}"><button class="btn btn-primary" type="button">Continue Shopping</button></a>
<a href="{% url 'orders:order_create' %}"><button class="btn btn-success" type="button">Checkout</button></a>
{% endblock %}