<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <style>
        #topBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 10px;
        max-width: 40px;
        width: 100%;
        font-size: 12px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100,100,100);
        padding: 3px;
        border-radius: 4px;

    }
/*On Hover Color Change*/
    #topBtn:hover {
        background-color: #7dbbf1;
    }
    </style>
</head>
<body class="container">
    {% for order in order %}
    <b>{{order.id}} ,{{order.phone_number}},{{order.city}}</b>
    <span><a href="{{ order.packaging }}" style="padding-left: 15px;"><button class="btn btn-warning" style="margin-bottom: 3px;">Packed</button></a></span>
    <table class="table table-striped table-primary">
        <thead>
        <tr>
        <th>Product</th>
        <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
        <tr class="row{% cycle '1' '2' %}">
        <td>{{ item.product.name }}</td>
        <td class="num">{{ item.quantity }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <br>
    {% endfor %}
    <button id="topBtn"><a href="{% url 'shop:product_list'%}" style="color: white; text-decoration: none;">Shop</a></button>
</body>
</html>
